*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole generali */

/* classe standard per impostare un padding a tutta la pagina */

.rientro{
  padding: 0 5%;
}

/* clearfix */

.barra-login::after, .header-nav:after{
  display: table;
  content: "";
  clear: both;
}

/* class button comune a tutti i bottoni arancioni */

.button{
  background-color: #fe775a;
  padding: 10px;
  border-radius: 0.5em;
  color: white;
  cursor: pointer;
}
.button:hover{
  opacity: 0.6;
}

/* barra navigazione login */

.barra-login{
  background-color: #f4f9fd;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.barra-login>div{
  float: left;
  width: 50%;
  line-height: 60px;
}

.barra-login a{
  cursor: pointer;
}

.barra-login .fas{
  margin: 0px 2px;
}

.nav-login{
  text-align: right;
}

.nav-globe a:first-child{
  padding-right: 15px;
}

.nav-globe a:last-child{
  padding-left: 15px;
}

.nav-login a{
  margin-left: 20px;
}

.nav-login .fa-search{
  color: #5fc5d5;
}

#specialbutton{
  color: #fe775a;
  background-color: #fff;
  border: 1px solid #fe775a;
}

#specialbutton:hover{
  background-color: rgba(254, 119, 90, 0.1)
}


/* header */

/* barra navigazione dell'header */

.header-nav{
  height: 80px;
  margin-top: 60px;
  background-color: #fff;
}

.header-nav .logocontainer{
  float: left;
  width: 20%;
  height: 80px;
}

.header-nav img[alt="logo"]{
  height: 40px;
  vertical-align: middle;
}

.header-nav ul{
  display: inline-block;
  width: 80%;
  float: left;
  list-style: none;
  text-align: right;
}

.header-nav li{
  display: inline-block;
  margin-left: 15px;
  line-height: 80px;
}
.header-nav li a{
  text-decoration: none;
  color: #000;
}

.header-nav .fas{
  margin-left: 5px;
}
